* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 1rem;
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 60rem;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.4);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  border: 1px solid black;
  transition: transform 0.3s;
}

header:hover {
  transform: scale(1.06);
}

ul {
  margin: 0;
}

nav {
  padding: 1rem;
  background-color: black;
}

header ul {
  padding: 0;
  list-style-type: none;
}

header a {
  color: white;
  text-decoration: none;
}

h1 {
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
}

h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
}

h3 {
  margin: 0 0 1rem 0;
  font-family: "Montserrat", sans-serif;
}

.light {
  font-weight: 400;
}

.date {
  font-size: 0.75rem;
  background-color: dodgerblue;
  color: white;
  display: grid;
  place-items: center;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
}

section div {
  background-color: whitesmoke;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  position: relative;
}

a.button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: 0;
  background-color: dodgerblue;
  color: white;
  display: grid;
  place-items: center;
  text-decoration: none;
  transition: transform 0.3s;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

a.button:hover {
  transform: scale(1.08);
}

@media (max-width: 45rem) {
  body {
    margin: 0;
  }
  main {
    box-shadow: none;
  }
  [role="img"] {
    display: none;
  }
  h1 {
    font-size: 1.5rem;
  }
  .comma {
    visibility: hidden;
  }
  /* https://css-tricks.com/injecting-line-break/#you-can-insert-line-breaks-via-pseudo-element */
  .comma::after {
    content: "\a";
    white-space: pre;
  }
}

@supports not (scroll-behavior: smooth) {
  a.button {
    display: none;
  }
}
